%footer.pagecontainer__footer
  .footerbox
    =link_to "プライバシーポリシー", root_path, class: "footerbox__abouts"
    =link_to "利用規約", root_path, class: "footerbox__abouts"
    =link_to "特定商取引に関する表記", root_path, class: "footerbox__abouts"
  =link_to image_tag('logo/logo-white.png', alt: "ロゴ画像", class:"footerlogo"), root_path
