.characteristic__contents
  %h2.characteristic__contents__message
    FURIMAの特徴
  %ul.characteristic__contents__lists
    %li.characteristic__contents__list
      .characteristic__contents__list__image
        = image_tag 'icon/icon-01.png', class: 'characteristic-icon'
      %h2.characteristic__contents__list__text
        簡単に売り買いできる
      %p.characteristic__contents__list__description
        スマホひとつで、いつでもどこでも簡単い出品・購入が可能！

    %li.characteristic__contents__list
      .characteristic__contents__list__image
        = image_tag 'icon/icon-03.png', class: 'characteristic-icon'
      %h2.characteristic__contents__list__text
        売上金は即日振込みに対応
      %p.characteristic__contents__list__description
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！

    %li.characteristic__contents__list
      .characteristic__contents__list__image
        = image_tag 'icon/icon-04.png', class: 'characteristic-icon'
      %h2.characteristic__contents__list__text
        様々な支払いに対応
      %p.characteristic__contents__list__description
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

