= link_to "#", class: "app-store-logo" do
  = image_tag 'logo/AppStore-logo.png', class: 'app-store-image'
= link_to "#", class: "google-play-logo" do
  = image_tag 'logo/Google-Play-logo.png', class: 'google-play-image'