.first-view
  .first-view__contents
    .first-view__contents__upper.first-view__contents__upper--shadow
      人生を変えるフリマアプリ
    .first-view__contents__middle.first-view__contents__middle--shadow
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .first-view__contents__lower
      = render "download-logo"