.header

  .upper-contents
    .furima-logo
    .search
      .search-form
      .search-icon

  .bottom-contents
    .bottom-contents__left
      .category-tag
      .bland-tag
    .bottom-contents__right
      .log-in
      .register