.last-view
  .last-view__contents
    %h2.last-view__contents__text
      だれでもかんたん、人生を変えるフリマアプリ
    %p.last-view__contents__message
      今すぐ無料ダウンロード！
    .last-view__contents__link
      = render "experiment/download-logo"