.publicity
  .publicity__contents
    %h2.publicity__contents__message
      FURIMAが選ばれる３つの理由
    %ul.publicity__contents__lists
      %li.publicity__contents__list
        .publicity__contents__list__card
          %span.publicity__contents__list__card__number
            1
          = image_tag 'pict/pict-reason-01.jpg', class: 'publicity__contents__list__card__image'
        %h2.publicity__contents__list__text
          %span
            3分
          ですぐに出品
        %p.publicity__contents__list__description
          スマホで入力するだけで簡単に出品できる！

      %li.publicity__contents__list
        .publicity__contents__list__card
          %span.publicity__contents__list__card__number
            2
          = image_tag 'pict/pict-reason-02.jpg', class: 'publicity__contents__list__card__image'
        %h2.publicity__contents__list__text
          %span
            シンプル
          で使いやすい
        %p.publicity__contents__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.publicity__contents__list
        .publicity__contents__list__card
          %span.publicity__contents__list__card__number
            3
          = image_tag 'pict/pict-reason-03.jpg', class: 'publicity__contents__list__card__image'
        %h2.publicity__contents__list__text
          手数料
          %span
            業界最安
        %p.publicity__contents__list__description
          最大3%でお得に出品&購入！
