.second-view
  .second-view__contents
    %h2.second-view__contents__message
      会員数日本一位
    %p.second-view__contents__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。

    = render "download-logo"