.second-view {
  @include center;
  height: 400px;
  background-image: image-url('pict/bg-topMiddleDl-pict.jpg');
  background-size: cover;

  &__contents {
    @include text-shadow;
    color: $white;
    text-align: left;
    width: 100%;
    max-width: 1040px;

    &__message {
      font-size: 27px;
      @include message-font;
    }

    &__text {
      font-size: 18px;
      margin: 20px 0px 30px;
      line-height: 1.5;
    }
  }
}