
// color

$white: #ffffff;
$skyblue: #3CCACE;
$black: #333333;
$light-gray: #f8f8f8;
$heavy-gray: #dedede;

// mixin

@mixin text-shadow {
  text-shadow: 0 0 5px #272727;
}

@mixin toppage-logo-size {
  height: 50px;
  width: 165px;
}

@mixin center {
  display: flex;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin message-font {
  line-height: 1.4;
  font-weight: bold;
}

@mixin message-style {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

@mixin message-style-after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin lists-style {
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  max-width: 1020px;
}

@mixin list-style {
  width: 30%;
  margin: 16px 5% 0px 0px;
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
}