.content{
  background-color:rgb(243, 240, 240);
  padding:0,0,250px;
  margin: 0%;
  .container{
    margin: 40px auto 0;
    padding: 0 0 40px;
    width: 1020px;
    display: flex;
    justify-content: center;
    .main__content{
      height: 380px;
      width: 700px;
      background-color: #fff;
      .chapter__head{
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 1.4;
      }
      .payment{
        padding: 64px;
        &__list{
          text-align: center;
          &__content{
            max-width: 320px;
            margin: 0 auto;
          }
        }
        .card__payment__list{
          text-align: center;
          .delete__button{
            margin-top: 32px;
            margin-left: 125px;
            background: #3ccacc;
            border: 1px solid #3ccacc;
            color: #fff;
            align-items: center;
            display: block;
            width: 320px;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
        }  
        .how__not__regist{
          display: block;
          margin: 40px 0 0;
          text-align: right;
          color: #0099e8;
        }      
      }
    } 
  }
}









