
// ミックスイン

@mixin lists($width){
  position:relative;
  z-index: 3;
  display:inline-block;
  width:$width;
  color: black;
}

@mixin status($background){
  position: absolute;
  width: 12px;
  height: 12px;
  background:$background;
  border-radius: 50%;
  z-index: 2;
}

@mixin bar($background){
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  right: 0%;
  height: 2px;
  background:$background;
  z-index: 1;
  top:23px;
}


// 大枠
.pagecontainer{
  padding:0,0,250px; 
  background-color:rgb(243, 240, 240);
  
  // ヘッダー
    &__header{
      text-align: center;
      display:flex;
      justify-content: space-around;
      .logolink{
        width:30%;
        margin-left: 20%;
        &__image{
          width: 90%;
          margin: auto;
        }
      }
      .progressbar{
        width:40%;
        margin: auto;
        margin-right: 10%;

        text-align: center;
        &__ul{
          display:flex;          
          font-size: 12px;
          text-align: center;
          .userprogresslist{
            @include lists(140px);
            &__status{
              @include status(gray);
            }
            &__bar{
              @include bar(gray);
            }
          }
          .addressprogresslist{
            @include lists(140px);
            &__status{
              @include status(gray);
            }
            &__bar{
              @include bar(gray);
            }
          }
          .completeprogresslist{
            @include lists(50px);
            &__status{
              @include status(blue);
            }
            
          }
        }
      }
    }


    // メインコンテンツ

    &__main{
      background-color: white;
      margin:auto;
      text-align: center;
      width: 80%;
      .mainh1{
        font-size: 33px;
        padding: 33px;
        margin: auto;
        width: 90%;
        border-bottom: gray solid 1px;
      }
      .completebox{
        width: 90%;
        margin: auto;
        text-align: center;
        vertical-align: auto;
        padding:30px;
        color: lightgray;
        font-size: larger;
        &__linkbtn{
          background-color: skyblue;
          color: white;
          font-size:28px;
          line-height: 28px;
          padding: 10px;
          border-radius: 5%;
          text-decoration: none;
        }
      }
    }



    // フッター
    &__footer{
      text-align: center;
      height:280px;
      .footerbox{
        padding-top: 20px;
        margin:20px;
        &__abouts{
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .footerlogo{
        width:250px;
        height: 100px;
      }
    }
}


