// Place all the styles related to the experiment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
  color:blue;
}

.footer__card-list {
  display: flex;
}

li {
  text-decoration: none;
}

.footer__top,.footer__bottom {
  text-align: center;
}