// Place all the styles related to the experiment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ---------- header ----------


.header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #ffffff;
}

.header-contents {
  padding: 0px 60px;
  line-height: 50px;
}

.upper-contents {
  height: 50px;
  margin: 15px 0px 0px;
  display: flex;
}

.search-form {
  width: 100%;
}

.text-form {
  height: 36px;
  padding: 0px 0px 0px 5px;
}

.search-btn {
  height: 36px;
  width: 36px;
  background-color: #3CCACE;
  .search-icon__image {
    height: 20px;
    width: 20px;
  }
}
.bottom-contents {
  display: flex;
  justify-content: space-between;
}

.bottom-contents__left {
  display: flex;
}

.bottom-contents__right {
  display: flex;
  .header__list {
    text-decoration: none;
    color: #333333;
  }
}

// ---------- main-contents ----------

.main-contents {
  height: 200vh;
  width: 100%;
  background-color: burlywood;
}


// ---------- footer ----------

.footer {
  height: 300px;
  width: 100%;
  background-color: #272727;
  padding: 60px 0px;
  color: #ffffff;
  .footer__top,.footer__bottom {
    text-align: center;
  }
}

.footer__card-list {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 0px 0px 20px;
  font-weight: bold;
  font-size: 16px;
}

.large__list {
  width: calc( 100% / 3 );
}

li {
  margin: 0px 0px 10px;

  .small__list {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
  }
}

.furima-logo {
  height: 45px;
  width: 150px;
}