.pagecontainer{
  padding:0,0,250px; 
  background-color:lightgray;
  
    &__header{
      text-align: center;
      display:flex;
      justify-content: space-around;
      .logolink{
        width:30%;
        margin-left: 20%;
        background-color: lightgreen;
        .logoimage{
          width: 90%;
          margin: auto;
        }
      }
      .progressbar{
        width:40%;
        margin: auto;
        margin-right: 10%;

        text-align: center;
        &__ul{
          display:flex;          
          font-size: 12px;
          justify-content: space-around;
          .userprogresslist{
            position:relative;
            z-index: 3;
            display:inline-block;
            min-width: 60px;
            color: black;
            margin-left: 40px;
            &__status{
              position: absolute;
              width: 12px;
              height: 12px;
              background: gray;
              border-radius: 50%;
              z-index: 2;
              left: 40%;
            }
            &__bar{
              position: absolute;
              display: block;
              width: 130px;
              height: 2px;
              background:blue;
              z-index: 1;
              left: 50%;
              top:25px;
            }
          }
          .addressprogresslist{
            position:relative;
            z-index: 3;
            display:inline-block;
            min-width: 60px;
            color: black;
            &__status{
              position: absolute;
              width: 12px;
              height: 12px;
              background: gray;
              border-radius: 50%;
              z-index: 2;
              left: 40%;
            }
            &__bar{
              position: absolute;
              display: block;
              width: 130px;
              height: 2px;
              background:blue;
              z-index: 1;
              left: 50%;
              top:25px;
            }
          }
          .completeprogresslist{
            position:relative;
            z-index: 3;
            display:inline-block;
            min-width: 60px;
            color: black;
            &__status{
              position: absolute;
              width: 12px;
              height: 12px;
              background: gray;
              border-radius: 50%;
              z-index: 2;
              left: 40%;
            }
            
          }
        }
      }
    }

    &__main{
      background-color: white;
      margin:auto;
      text-align: center;
      width: 80%;
    }

    &__footer{
      text-align: center;
    }
}



