.pagecontainer{
  padding:0,0,250px; 
  background-color:lightgray;
  
    &__header{
      text-align: center;
      display:flex;
      justify-content: space-around;
      .logolink{
        width:30%;
        margin-left: 20%;
        background-color: lightgreen;
        .logoimage{
          width: 90%;
          margin: auto;
        }
      }
      .progressbar{
        width:40%;
        margin: auto;
        margin-right: 10%;

        text-align: center;
        &__ul{
          display:flex;          
          font-size: 12px;
          justify-content: space-around;
          background-color: red;
        }
      }
    }

    &__main{
      background-color: white;
      margin:auto;
      text-align: center;
      width: 80%;
    }

    &__footer{
      text-align: center;
    }
}



