// 大枠
.pagecontainer{
  padding:0,0,250px; 
  background-color:lightgray;
  
  // ヘッダー
    &__header{
      text-align: center;
      display:flex;
      justify-content: space-around;
      .logolink{
        width:30%;
        margin-left: 20%;
        &__image{
          width: 90%;
          margin: auto;
        }
      }
      .progressbar{
        width:40%;
        margin: auto;
        margin-right: 10%;

        text-align: center;
        &__ul{
          display:flex;          
          font-size: 12px;
          text-align: center;
          .userprogresslist{
            position:relative;
            z-index: 3;
            display:inline-block;
            width:140px;
            color: black;
            &__status{
              position: absolute;
              width: 12px;
              height: 12px;
              background:blue;
              border-radius: 50%;
              z-index: 2;
            }
            &__bar{
              position: absolute;
              display: block;
              padding: 0;
              margin: 0;
              width: 100%;
              right: 0%;
              height: 2px;
              background:blue;
              z-index: 1;
              top:23px;
            }
          }
          .addressprogresslist{
            position:relative;
            z-index: 3;
            display:inline-block;
            width:140px;
            color: black;
            &__status{
              position: absolute;
              width: 12px;
              height: 12px;
              background: gray;
              border-radius: 50%;
              z-index: 2;
            }
            &__bar{
              position: absolute;
              display: block;
              padding: 0;
              margin: 0;
              width: 100%;
              right: 0%;
              height: 2px;
              background:gray;
              z-index: 1;
              top:23px;
            }
          }
          .completeprogresslist{
            position:relative;
            z-index: 3;
            display:inline-block;
            width:50px;
            color: black;
            &__status{
              position: absolute;
              width: 12px;
              height: 12px;
              background: gray;
              border-radius: 50%;
              z-index: 2;
            }
            
          }
        }
      }
    }


    // メインコンテンツ

    &__main{
      background-color: white;
      margin:auto;
      text-align: center;
      width: 80%;
      .mainh1{
        font-size: 30px;
        padding: 30px;
        margin: auto;
        width: 90%;
        border-bottom: gray solid 1px;
      }
      .field{
        width: 100%;
        padding-top:30px ;
        position: relative;
        min-width: 768px;
        .formlabel{
          position: absolute;
          left: 28%;
        }
        .formspan{
          background-color:lightblue;
          color: white;
          position: absolute;
          width: 40px;
          right: 28%;
          border-radius: 10%;
        }
        .forminput{
          width: 46%;
          height:43px;
          border-radius: 4%;
          margin-top:5px ;
        }
      }
      .nextbtn{
        margin-top: 30px;
        background-color: skyblue;
        color: white;
        width:150px;
        height: 50px;
        border-radius: 10px;
      }
    }



    // フッター
    &__footer{
      text-align: center;
      .footerbox{
        padding-top: 20px;
        margin:20px;
        &__abouts{
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .footerlogo{
        width:250px;
        height: 100px;
      }
    }
}



// ミックスイン